<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMG page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container {
            text-align: center;
        }

        form {
            margin: 0 auto;
            max-width: 400px;
        }
        #btn a{
            color: #ffffff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Upload an Image</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <br>
        <button type="submit" id="btn" class="btn btn-primary"><a href="{% url 'photos' %}">Uploaded Photos</a></button>
    </div>

</body>

</html>